.background {
    background: linear-gradient(#ff6600, black);
}

.header {
    background-color: white;
}

h1 {
    color: #ff6600;
    font-size: 60px;
}

h2 {
    color: black;
    font-size: 25px;
}

p {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.space{
    padding: 150px;
}
.top-space{
    padding-top: 50px;
}

.rcorners {
    border-radius: 25px;
    background: white;
}

.white {
    background-color: rgba(255, 255, 255, 0.75);
    
}

.body-padding {
    padding-left: 300px;
    padding-right: 300px;
}

.text-padding {
   /* padding-left: 50px;
    padding-right: 50px;
    */
}

/* image enlargement animation 
source code found here: https://www.educative.io/answers/how-to-enlarge-an-image-on-hover-in-html
*/
.image_animation {
    transition: transform .2s;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.image_animation:hover {
    transform: scale(1.25);
}

.row {
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 33.33%;
    padding: 5px;
}