.background {
    background: linear-gradient(#E96B10, black);
}
.body-background{
    background-color: rgba(36,36,36);
}

.header {
    background-color: white;
}

h1 {
    color: #ff6600;
    font-size: 60px;
    font-weight: 100;
}

h2 {
    color: black;
    font-size: 25px;
}

p {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.space{
    padding: 150px;
}
.top-space{
    padding-top: 50px;
}

.rcorners {
    width: auto;
    height: auto;
    border-radius: 15px;
    background: white;
}

.box-background{
    background-color: white;
}

.body-padding {
    padding-left: 300px;
    padding-right: 300px;
}


/* image enlargement animation 
source code found here: https://www.educative.io/answers/how-to-enlarge-an-image-on-hover-in-html

.image_animation {
    transition: transform .2s;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.image_animation:hover {
    transform: scale(1.25);
}
*/

.row {
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 33.33%;
    padding: 5px;
}
